---
layout: base.njk
---

<main class="main-content">
  <h1 class="blog-title">{{ title }}</h1>

   <div class="published-date">
    Published on {{ date | date("MMMM d, yyyy") }}
  </div>

  <div class="blog-body">
    {{ content | safe }}
  </div>

  <div class="post-footer">
    If you have any concerns regarding the blog or anything is wrong please feel free to contact at <a href="mailto:arjunshajitech@gmail.com">arjunshajitech@gmail.com</a>
  </div>
</main>
